In [1]:
import glob
import pandas as pd
from pre_processing import *

In [4]:
PATH = './Train/Train/*.csv'

indiv_df = []

for dataframe in glob.glob(PATH):
    indiv_df.append(pd.read_csv(dataframe))

#create a dataframe for all the stations
df = pd.concat(indiv_df, ignore_index=True)

df = drop_nan_bikes(df)

has_nan(df)

(True,
 station                            0
 latitude                           0
 longitude                          0
 numDocks                           0
 timestamp                          0
 year                               0
 month                              0
 day                                0
 hour                               0
 weekday                            0
 weekhour                           0
 isHoliday                          0
 windMaxSpeed.m.s                   0
 windMeanSpeed.m.s                  0
 windDirection.grades             300
 temperature.C                      0
 relHumidity.HR                     0
 airPressure.mb                     0
 precipitation.l.m2                 0
 bikes_3h_ago                     300
 full_profile_3h_diff_bikes     12825
 full_profile_bikes             12600
 short_profile_3h_diff_bikes    12825
 short_profile_bikes            12600
 bikes                              0
 dtype: int64)

In [3]:
df

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekday,...,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes,bikes
0,266,39.492946,-0.401981,15,1.412114e+09,2014,10,1,0,Wednesday,...,21.3,85.0,855.3,0.0,NaN,NaN,NaN,NaN,NaN,5.0
1,266,39.492946,-0.401981,15,1.412118e+09,2014,10,1,1,Wednesday,...,21.1,86.0,1000.6,0.0,NaN,NaN,NaN,NaN,NaN,6.0
2,266,39.492946,-0.401981,15,1.412122e+09,2014,10,1,2,Wednesday,...,20.9,86.0,880.6,0.0,NaN,NaN,NaN,NaN,NaN,5.0
3,266,39.492946,-0.401981,15,1.412125e+09,2014,10,1,3,Wednesday,...,20.4,88.0,859.8,0.0,5.0,NaN,NaN,NaN,NaN,5.0
4,266,39.492946,-0.401981,15,1.412129e+09,2014,10,1,4,Wednesday,...,20.3,87.0,898.1,0.0,6.0,NaN,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55870,234,39.484848,-0.362137,18,1.414778e+09,2014,10,31,19,Friday,...,20.2,80.0,1023.5,0.0,4.0,7.00,15.25,7.00,15.25,17.0
55871,234,39.484848,-0.362137,18,1.414782e+09,2014,10,31,20,Friday,...,20.2,82.0,1023.9,0.0,11.0,8.75,16.25,8.75,16.25,13.0
55872,234,39.484848,-0.362137,18,1.414786e+09,2014,10,31,21,Friday,...,20.0,83.0,1024.0,0.0,17.0,2.25,14.00,2.25,14.00,15.0
55873,234,39.484848,-0.362137,18,1.414789e+09,2014,10,31,22,Friday,...,19.3,84.0,1024.4,0.0,17.0,-0.50,14.75,-0.50,14.75,17.0
55874,234,39.484848,-0.362137,18,1.414793e+09,2014,10,31,23,Friday,...,19.1,86.0,1024.1,0.0,13.0,-3.25,13.00,-3.25,13.00,14.0